
body {
  font-family: "Mali", sans-serif;
  background-color: pink;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.valentine-image {
  width: 300px; 
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 5px;
}

#message {
  background-color: #3cb371;
}

#yesButton {
  background-color: #3cb371;
}

#noButton {
  background-color: #c2185b;
}

#yesButton:hover {
  background-color: #32925d;
}

#noButton:hover {
  background-color: #9b144a;
}

#responseMessage {
  margin-top: 20px;
}
