body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.bg-color {
  background-color: gold;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.bg-image {
  background-image: url('https://preview.redd.it/mzi32poefa491.jpg?width=1440&format=pjpg&auto=webp&s=76a0f6fa89ea3083e08599c4b7ba5a74e2b8fcc6');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 350px;
  color: white;
  padding: 10px;
  margin: 0 auto 20px;
}

.bg-gradient {
  background: linear-gradient(to right, #d6350c, #5c5651);
  padding: 10px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.block-example {
  display: block;
  background: lightcoral;
  margin: 10px 0;
  padding: 5px;
}

.inline-example {
  display: inline;
  background: lightgreen;
  padding: 5px;
}

.inline-block-example {
  display: inline-block;
  background: lightblue;
  padding: 10px;
  margin: 5px;
}

.flex-example {
  display: flex;
  justify-content: space-around;
  background: lightyellow;
  margin: 20px 0;
  padding: 20px;
}

.grid-example {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
  background: #f9f9f9;
  margin-bottom: 20px;
}

.grid_item {
  padding: 20px;
  background: url('https://picsum.photos/500/100');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.none-example {
  display: none;
}

.visible-example {
  visibility: visible;
  background: peachpuff;
  padding: 10px;
  margin-bottom: 10px;
}

.hidden-example {
  visibility: hidden;
  background: lightgray;
  padding: 10px;
}
.container1{
    text-align: center;
        margin: 20px;
}
.btn{
    padding: 40px;
}
